$align: left;
$bg-color: rgb(102, 60, 60);
$color-01: rgb(84, 216, 198);
$color-02: rgb(240, 144, 144);
$color-03: rgb(36, 13, 13);
$color-04: rgb(114, 108, 108);
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;